<div class ="principal">
    <div class="menu-principal">
        <head>
            <title>Librería NTT</title>
        </head>
        <header>
            <div class="logo">LIBRERIA NTT</div>
            <button class="menu-button" (click)="buscar()">Buscar</button>
            <button class="menu-button">Crear Libro</button>
        </header>
    </div>
    <div fxLayout="row" class="contenedor-principal" *ngIf="search">
        <div class="input-label">
            <input class="espaciado" [ngModel]="searchTerm" (ngModelChange)="onSearchTermChange($event)" />
            <button (click)="toggleAdvancedFilters()">Filtros avanzados</button>
            <div *ngIf="showAdvancedFilters" class="advanced-filters">
                <select [(ngModel)]="selectedGenre">
                  <option value="">All Genres</option>
                  <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
                </select>
                <input type="date" [(ngModel)]="startDate"> - <input type="date" [(ngModel)]="endDate">
                <button (click)="applyAdvancedFilters()">Aplicar</button>
            </div>
        </div>  
        <div class="list">
            <app-book *ngFor="let book of books" [book]="book"></app-book>
        </div>
    </div>
</div>
