<div class ="principal">
    <div class="menu-principal">
        <head>
            <title>Librería NTT</title>
        </head>
        <header>
            <div class="logo">LIBRERIA NTT</div>
            <button class="menu-button">Buscar</button>
            <button class="menu-button">Crear Libro</button>
        </header>
    </div>
    <div class="contenedor-principal" *ngIf="">
        <p class="input-label">
            Busqueda
            <input [ngModel]="searchTerm" (ngModelChange)="onSearchTermChange($event)" />
        </p>
        <div class="list" ng>
            <app-book *ngFor="let book of books" [book]="book"></app-book>
        </div>
    </div>
</div>
